---

version: '3.5'

{% if shortner_container_networks|default(False) %}
networks:
{% for network in shortner_container_networks|default([]) %}
  {{ network.name }}:
    external: true
{% endfor %}
{% endif %}

services:
  server:
    image: {{ shortner_image }}:{{ shortner_version }}
    command:
      - "server"
      - "run"
      - "--tags={{ env }}"
      - "--tags=traefik.enable=true"
      - "--tags=traefik.http.routers.shortner.rule=Host(`{{ shortner_domain }}`)"
      - "--tags=traefik.http.routers.shortner.entrypoints=web"
      - "--tags=traefik.http.routers.shortner.service=shortner"
      - "--tags=traefik.http.routers.shortner.middlewares=shortner-redirect@consulcatalog"
      - "--tags=traefik.http.routers.shortner-secure.rule=Host(`{{ shortner_domain }}`)"
      - "--tags=traefik.http.routers.shortner-secure.entrypoints=websecure"
      - "--tags=traefik.http.routers.shortner-secure.service=shortner"
      - "--tags=traefik.http.routers.shortner-secure.tls=true"
      - "--tags=traefik.http.routers.shortner-secure.tls.certresolver=acmeresolver"
      - "--tags=traefik.http.routers.shortner-secure.middlewares=shortner-cors@consulcatalog"
      - "--tags=traefik.http.middlewares.shortner-redirect.redirectscheme.scheme=https"
      - "--tags=traefik.http.middlewares.shortner-redirect.redirectscheme.permanent=true"
      - "--tags=traefik.http.middlewares.shortner-cors.headers.accesscontrolallowcredentials=true"
      - "--tags=traefik.http.middlewares.shortner-cors.headers.accesscontrolallowheaders=Content-Type,X-Access-Token,X-Refresh-Token"
      - "--tags=traefik.http.middlewares.shortner-cors.headers.accesscontrolexposeheaders=Content-Type,X-Access-Token,X-Refresh-Token"
      - "--tags=traefik.http.middlewares.shortner-cors.headers.accesscontrolallowmethods=GET,OPTIONS,PUT,POST,DELETE"
      - "--tags=traefik.http.middlewares.shortner-cors.headers.accesscontrolalloworiginlist=https://{{ shortner_domain }}"
      - "--tags=traefik.http.middlewares.shortner-cors.headers.accesscontrolmaxage=100"
      - "--tags=traefik.http.middlewares.shortner-cors.headers.addvaryheader=true"
{% if shortner_container_dns|default(False) %}
    dns: {{ shortner_container_dns }}
{% endif%}
    env_file: .env
{% if shortner_container_labels|default(False) %}
    labels:
{% for label in shortner_container_labels|default([]) %}
      - {{ label }}
{% endfor %}
{% endif %}
{% if shortner_container_syslog.enabled %}
    logging:
      driver: syslog
      options:
        syslog-address: "{{ shortner_container_syslog.host }}"
        tag: {{ shortner_container_syslog.tag }}
{% endif %}
{% if shortner_container_networks|default(False) %}
    networks:
{% for network in shortner_container_networks|default([]) %}
      - {{ network.name }}
{% endfor %}
{% endif %}

    deploy:
      replicas: {{ shortner_replicas|default(1) }}
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: '0.50'
          memory: 128M
        reservations:
          cpus: '0.25'
          memory: 32M
